body {
    font-family: Helvetica;
}

a {
    text-decoration: none;
    color: black;
}

p, h2, h6 {
    margin: 0;
    padding: 0;
}

/* section-1 */

.navbar__logo {
    padding-left: 3rem;
}

.section-1 {
    background-color: #F1F3FF;
    height: fit-content;
}

.section-1__desc {
    margin-top: 4rem;
}

.section-1__desc__text {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 6rem;
    gap: .5rem;
    width: 46%;
}

.section-1__desc__img {
    width: 56%;
}

/* search section */

.search-section {
    top: -3rem;
}

.search-form {
    background-color: white;
    padding: 1.5rem;
    gap: 1.5rem;
    border: 1px solid #D0D0D0;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.search-form__input {
    width: 12rem;
    gap: .3rem;
    font-size: 12px;
}

.search-form__btn {
    position: relative;
    top: .5rem;
    width: 6rem;
}

/* footer */

footer {
    margin: 6rem 6rem 4rem 6rem;
}

@media (max-width: 1200px) {

    .section-1__desc__img {
        padding-top: 6rem;
    }

    .search-form {
        width: 80%;
        flex-wrap: wrap;
    }
}

@media (max-width:768px) {

    .sidebar {
        max-width: 75%;
    }

    .navbar__logo {
        padding-left: 1rem;
    }

    .section-1__desc {
        flex-direction: column;
        margin-top: 2rem;
    }

    .section-1__desc__text {
        padding-bottom: 0rem;
        margin: 2rem;
        width: fit-content
    }

    .section-1__desc__img {
        margin-left: 2rem;
        padding-top: 0rem;
        width: 96%;
    }

    .search-form {
        flex-direction: column;
        width: fit-content;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    footer {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-bottom: 4rem;
    }

    .section-footer {
        width: 100%;
    }

}

@media (max-width: 390px) {

    .sidebar {
        max-width: 50%;
    }

    .section-1__desc {
        position: relative;
        left: -.5rem;
    }

    .section-1__desc__text {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .search-form {
        width: fit-content;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
    }

}