body {
    font-family: Helvetica;
}

a {
    text-decoration: none;
    color: black;
}

p, h2, h6 {
    margin: 0;
    padding: 0;
}

/* section-1 */

.navbar__logo {
    padding-left: 3rem;
}

.navbar__button {
    background-color: #5CB85F;
}

.section-1 {
    background-color: #F1F3FF;
    height: fit-content;
    margin-bottom: 6rem;
}

.section-1__desc {
    margin-top: 4rem;
}

.section-1__desc__text {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 6rem;
    gap: .5rem;
    width: 46%;
}

.section-1__desc__img {
    width: 56%;
}

.section-1__desc__btn {
    background-color: #5CB85F;
    width: 10rem;
}

/* section-2 our-services*/

.section-2 {
    gap: 4rem;
    margin: 6rem;
}

.section-2__image {
    width: 50%;
    position: relative;
    left: 2rem;
}

.section-2__desc {
    width: 50%;
    gap: .5rem;
}

.section-2__desc__list {
    list-style: none;
    position: relative;
    left: -2rem;
}

/* section-3 why-us*/

.section-3 {
    gap: .5rem;
    margin: 6rem;
}

.section-3__card-sect__card {
    width: 280px;
    padding: 1.5rem;
    border: 1px solid #D0D0D0;
    border-radius: .5rem;
}

/* section-4 testimonial */

.section-4 {
    margin: 6rem;
}

.section-4__carousel {
    background-color: #F1F3FF;
    border: 1px solid #D0D0D0;
    border-radius: .5rem;
    width: 80%;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.section-4__carousel-item {
    width: 60%;
}

/* section-5 */

.section-5 {
    background-color: #0D28A6;
    color: white;
    margin: 6rem;
    border-radius: 1rem;
}

.section-5__card {
    padding: 6rem 4rem;
    width: 60%;
}

.section-5__card__btn {
    background-color: #5CB85F;
    width: 10rem;
}

/* section-6 faq */

.section-6 {
    margin: 4rem 6rem;
}

.section-6__title {
    width: 40%;
}

.section-6__accordion {
    width: 60%;
}

/* footer */

footer {
    margin: 6rem;
}

@media (max-width: 1200px) {

    .section-1__desc__img {
        padding-top: 6rem;
    }
}

@media (max-width:768px) {

    .sidebar {
        max-width: 75%;
    }

    .navbar__logo {
        padding-left: 1rem;
    }

    .section-1__desc {
        flex-direction: column;
        margin-top: 2rem;
    }

    .section-1__desc__text {
        padding-bottom: 0rem;
        margin: 2rem;
        width: fit-content
    }

    .section-1__desc__img {
        margin-left: 2rem;
        padding-top: 0rem;
        width: 96%;
    }

    .section-2 {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        row-gap: 2rem;
    }

    .section-2__desc {
        width: fit-content;
    }

    .section-2__image {
        width: 75%;
        position: static;
    }

    .section-3 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section-4 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section-4__carousel {
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .section-5 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section-5__card {
        width: 100%;
    }

    .section-6 {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section-6__title {
        width: 100%;
    }
    
    .section-6__accordion {
        width: 100%;
    }

    footer {
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-bottom: 4rem;
    }

    .section-footer {
        width: 100%;
    }

}

@media (max-width: 390px) {

    .sidebar {
        max-width: 50%;
    }

    .section-1__desc {
        position: relative;
        left: -.5rem;
    }

    .section-1__desc__text {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .section-3__card-sect__card {
        width: 100%;
    }

    .section-4__carousel-item {
        flex-direction: column;
        gap: 1rem;
        padding-top: 2rem;
    }

    .section-4__carousel-item__star {
        align-self: center;
    }

}